<template>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="central-body">
                <div class="panel panel-default">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home"><i class="fas fa-home"></i>Inicio</a></li>
                            <li class="breadcrumb-item active"><a href="#"><i class="fas fa-plane"></i>Gestion de Aerolineas</a></li>
                            <li class="breadcrumb-item"><a href="#"></a></li>
                        </ol>
                    </nav>
                    <div class="panel-heading">
                        <h3><b><i class="fas fa-plane"></i>Gestion de Aerolineas del sistema</b></h3>
                    </div>
                    <div align="right">
                        <button type="button" @click="agregarModal" name="crear-aerolinea" id="create-aeroline" class="btn btn-success btn-sm">Registrar Nueva Aerolinea</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped cell-border" id="aerolineas">
                            <thead class="bg-info">
                            <tr>
                                <th>#</th>
                                <th>Logo</th>
                                <th>Nombre</th>
                                <th>Nombre corto</th>
                                <th>Codigo de aerolinea</th>
                                <th style="width: 5px">Administrado por (ID_Usuario)</th>
                                <th>Pais origen</th>
                                <th>Correo Electronico</th>
                                <th>Fecha de fundacion</th>
                                <th>Twitter</th>
                                <th>Facebook</th>
                                <th>Sitio web</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr  v-for="(item, index) in aerolineas" :key="index">
                                    <td> {{contador+index+1}}</td>
                                    <td>
                                        <img v-bind:src="'/images/'+item.url_imagen" width='150px' class='img-thumbnail' />
                                    </td>
                                    <td> {{item.nombre_oficial}} </td>
                                    <td> {{item.nombre_corto}} </td>
                                    <td> {{item.cod_aeroline}} </td>
                                    <td>
                                        <a :href="'/users/' + item.user_id+'/edit'"
                                        >{{item.id}}</a>
                                    </td>
                                    <td> {{item.pais_origen}} </td>
                                    <td> {{item.correo_electronico}} </td>
                                    <td> {{item.fecha_fundacion}} </td>

                                    <td>
                                        <a :href="'https://twitter.com/' + item.twitter"
                                        target="_blank"
                                        >https://twitter.com/{{item.twitter}}</a>
                                    </td>
                                    <td>
                                        <a :href="'https://www.facebook.com/' + item.facebook"
                                           target="_blank"
                                        >https://www.facebook.com/ {{item.facebook}}</a>
                                    </td>
                                    <td>
                                        <a :href="'https://www.'+item.sitio_web"
                                           target="_blank"
                                           >https://www.{{item.sitio_web}}</a>
                                    </td>
                                    <td>
                                        <button @click="editarModal(item)"><i class="fas fa-edit" style="color: blue"> Editar</i></button>
                                        <button @click="desactivarAerolinea(item)" v-if="item.estado"><i class="fas fa-toggle-on" style="color: #0000ff"> Dar de baja</i></button>
                                        <button @click="activarAerolinea(item)" v-if="!item.estado"><i class="fas fa-toggle-off" style="color: #0000ff"> Dar de alta</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary ">
                        <h5 class="modal-title text-white" v-show="!editmode">Agregar Nueva Aerolinea</h5>
                        <h5 class="modal-title text-white" v-show="editmode">Editar Aerolinea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? actualizarAerolinea() : crearAerolinea()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="nombreOficial">Nombre oficial:</label>
                                    <input  type="text" v-model="aerolinea.nombre_oficial" name="nombre_oficial"
                                            placeholder="Nombre Oficial"
                                            id="nombreOficial" maxlength="25"
                                           class="form-control" required>
                                </div>
                                <div class="form-group" v-if="!this.editmode">
                                    <label for="nombreCorto">Nombre corto:</label>
                                    <input  type="text" v-model="aerolinea.nombre_corto" name="nombre_corto"
                                            placeholder="Nombre corto"
                                            id="nombreCorto" maxlength="2"
                                            class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="userAdmin">ID Usuario Administrador:</label>
                                    <input  type="number" v-model="aerolinea.user_id" name="user_id" id="userAdmin"
                                            placeholder="ID del Administrador"
                                            maxlength="3"
                                            min="1"
                                            class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="pais">Pais de origen:</label>
                                    <input  type="text" v-model="aerolinea.pais_origen" name="pais_origen" id="pais"
                                            placeholder="Pais de Origen"
                                            maxlength="25"
                                            class="form-control"
                                            required>
                                </div>
                                <div class="form-group">
                                    <label for="correo">Correo electronico:</label>
                                    <input  type="email" v-model="aerolinea.correo_electronico" name="correo_electronico" id="correo"
                                            placeholder="Correo Electronico"
                                            maxlength="25"
                                            class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="f_fundacion">Fecha de Fundacion:</label>
                                    <input class="form-control" v-model="aerolinea.fecha_fundacion" type="date" id="f_fundacion"
                                           name="fecha_fundacion"
                                           value="2020-06-06"
                                           min="1960-01-01" max="2020-06-10" required>
                                </div>
                                <div class="form-group">
                                    <label for="twitter">https://www.twitter.com/</label>
                                    <input  type="text" v-model="aerolinea.twitter" name="twitter" id="twitter"
                                            placeholder="Escriba la direccion de twitter"
                                            maxlength="25"
                                            class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="facebook">https://www.facebook.com/</label>
                                    <input  type="text" v-model="aerolinea.facebook" name="facebook" id="facebook"
                                            placeholder="Escriba la direccion de facebook"
                                            maxlength="25"
                                            class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="sitio">Sitio Web:</label>
                                    <input  type="text" v-model="aerolinea.sitio_web" name="sitio_web" id="sitio"
                                            placeholder="Escriba la direccion del sitio web"
                                            maxlength="25"
                                            class="form-control" >
                                </div>
                                <div>
                                    <label for="url_imagen">Logo de la Aerolinea:</label>
                                    <input type="file"
                                           id="url_imagen" name="url_imagen" @change="obtenerImagen"
                                           v-if="!this.editmode"
                                           accept="image/png, image/jpeg" required>
                                    <figure>
                                        <img v-if="editmode" :src="'/images/'+imagen" width="200" height="200" alt="Logo de Aerolinea">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Crear Aerolinea</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datatables from 'datatables'
    import Form from 'vform'
    window.Swal = require("sweetalert2");
    import toastr from 'toastr'
    //import axios from 'axios'
    export default {
        data(){
           return {
               aerolineas:{},
               editmode: false,
               contador: 0,
               identificador:'',
               aerolinea: {
                   nombre_oficial: '',
                   pais_origen: '',
                   nombre_corto: '',
                   correo_electronico: '',
                   fecha_fundacion: '',
                   twitter: '',
                   facebook: '',
                   sitio_web: '',
                   url_imagen: '',
                   user_id:'',
                   cod_aeroline:'',
                   updated_at:'',
                   created_at:'',
                   estado:''
               },
           }
        },
        created(){
            axios.get('/aerolineas').then(res=>{
                this.aerolineas = res.data;
                this.mytable();
            });
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
          mytable(){
              $(function () {
                  $.fn.dataTable.ext.errMode = 'none';
                 $('#aerolineas').DataTable({
                     language: {
                         url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json",
                     },
                     lengthMenu: [[5, 10, 15, -1], [5, 10, 15, "Todo"]],
                 });
              });
          },
            obtenerImagen(e){
                let file = e.target.files[0];
                this.aerolinea.url_imagen=file;
                this.cargarImagen(file);

            },
            cargarImagen(file){
                let reader= new FileReader();
                reader.onload= (e) => {
                    this.aerolinea.url_imagen=e.target.result;
                }
                reader.readAsDataURL(file);
            },
            limpiar(){
                this.aerolinea.nombre_oficial='';
                this.aerolinea.cod_aeroline='';
                this.aerolinea.url_imagen='';
                this.aerolinea.correo_electronico='';
                this.aerolinea.facebook='';
                this.aerolinea.fecha_fundacion='';
                this.aerolinea.nombre_corto='';
                this.aerolinea.pais_origen='';
                this.aerolinea.sitio_web='';
                this.aerolinea.twitter='';
                this.aerolinea.user_id='';
            },
          crearAerolinea(){
              console.log('se ha llamado a la funcion de crear aerolinea');
              var url= 'aerolineas';
              axios.post(url, {
                  user_id: this.aerolinea.user_id,
                  nombre_oficial: this.aerolinea.nombre_oficial,
                  nombre_corto: this.aerolinea.nombre_corto,
                  pais_origen: this.aerolinea.pais_origen,
                  correo_electronico: this.aerolinea.correo_electronico,
                  fecha_fundacion: this.aerolinea.fecha_fundacion,
                  url_imagen: this.aerolinea.url_imagen,
                  twitter: this.aerolinea.twitter,
                  facebook: this.aerolinea.facebook,
                  sitio_web: this.aerolinea.sitio_web
              }).then(response => {
                  this.limpiar();
                  this.errors = [];
                  $('#addNew').modal('hide');
                  axios.get('/aerolineas').then(res=>{
                      this.aerolineas = res.data;
                      this.mytable();
                  });
                  toastr.success('Nueva aerolinea creada con éxito');
              }).catch(error => {
                  this.errors = 'Corrija para poder crear con éxito'
              });
          },
            actualizarAerolinea(){
                console.log('se ha llamado la opcion de editar la aerolinea: '+this.identificador);
                var url='/aerolineas/'+this.identificador;
                console.log(this.identificador);
                axios.put(url, this.aerolinea)
                    .then(resp=>{
                        axios.get('/aerolineas').then(res=>{
                            this.aerolineas = res.data;
                            this.mytable();
                        });
                        toastr.success("Aerolinea editada con exito");
                        $("#addNew").modal('hide');
                    })
                    .catch(error => {
                        this.errors = 'Corrija para poder desactivar con éxito'
                    });
            },

           agregarModal(){
              console.log('se ha disparado la opcion de agregar aerolinea');
              this.editmode=false;
              this.limpiar();
               toastr.options = {
                   "closeButton": true,
                   "debug": false,
                   "newestOnTop": false,
                   "progressBar": true,
                   "positionClass": "toast-top-right",
                   "preventDuplicates": false,
                   "onclick": null,
                   "showDuration": "100",
                   "hideDuration": "1000",
                   "timeOut": "3000",
                   "extendedTimeOut": "1000",
                   "showEasing": "swing",
                   "hideEasing": "linear",
                   "showMethod": "fadeIn",
                   "hideMethod": "fadeOut"
               }
               //toastr.warning('Se hallamado a la funcion de agregar!');
              $('#addNew').modal('show');
           },
            editarModal(item){
              this.editmode=true;
              $('#addNew').modal('show');
                this.editmode = true;
                this.aerolinea=JSON.parse(JSON.stringify(item));
                console.log("Se esta editando la aerolinea: "+item.id);
                this.identificador=item.id;
            },
            desactivarAerolinea(item){
              console.log("se ha disparado la opcion de desactivar Aerolinea:" +item.id);
                Swal.fire({
                    title: 'Atencion',
                    text: "Esta seguro de querer dar de baja esta Aerolinea?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, dar de baja!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        item.estado=0;
                        var url='/aerolineas/'+item.id;
                        console.log(item.estado);
                        axios.put(url, item)
                            .then(resp=>{
                                axios.get('/aerolineas').then(res=>{
                                    this.aerolineas = res.data;
                                    this.mytable();
                                });
                            })
                            .catch(error => {
                                this.errors = 'Corrija para poder desactivar con éxito'
                            });
                        Swal.fire(
                            'Dada de Baja!',
                            'La aerolinea ha sido dada de baja',
                            'success'
                        )
                    }
                });
            },

            activarAerolinea(item){
                console.log("se ha disparado la opcion de activar Aerolinea:" +item.id);
                Swal.fire({
                    title: 'Atencion',
                    text: "Esta seguro de querer dar de alta esta Aerolinea?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, dar de alta!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        item.estado=1;
                        var url='/aerolineas/'+item.id;
                        console.log(item.estado);
                        axios.put(url, item)
                            .then(resp=>{
                                axios.get('/aerolineas').then(res=>{
                                    this.aerolineas = res.data;
                                    this.mytable();
                                });
                                //toastr.success("Aerolinea Activada");
                            })
                            .catch(error => {
                                this.errors = 'Corrija para poder desactivar con éxito'
                            });
                        Swal.fire(
                            'Dada de alta!',
                            'La aerolinea ha sido dada de alta',
                            'success'
                        )
                    }
                });
            }
        },
        computed:{
            imagen(){
                return this.aerolinea.url_imagen;
            }
        }
    }
</script>
