<template>
    <div class="container">
        <div class="col-md-8">
            <div class="central-body">
                <div class="panel panel-default">
                        <div align="left">
                            <button type="button" @click="agregarModal" name="crear-aerolinea" id="create-aeroline" class="btn btn-success btn-sm">Registrar nuevo vuelo</button>
                        </div>
                        <div class="table">
                            <table class="table table-bordered table-striped cell-border" id="aerolineas">
                                <thead class="bg-info">
                                <tr>
                                    <th>#</th>
                                    <th>Codigo de Vuelo</th>
                                    <th>Avion</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Duracion de dias</th>
                                    <th>Duracion de horas</th>
                                    <th>Estado</th>
                                    <th>Fecha de Salida</th>
                                    <th>Fecha de Llegada</th>
                                    <th>Escala</th>
                                    <th>Millas</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  v-for="(item, index) in vuelos" :key="index">
                                    <td> {{contador+index+1}}</td>
                                    <td>
                                        {{item.cod_vuelo}}
                                    </td>
                                    <td> {{item.Avion}} </td>
                                    <td> {{item.Origen}} </td>
                                    <td>
                                        {{item.Destino}}
                                    </td>
                                    <td> {{item.duracion_dias}} </td>
                                    <td> {{item.duracion_horas}} </td>
                                    <td> <p v-if="item.estado">Activo</p> <p v-if="!item.estado">Inactivo</p></td>

                                    <td>
                                        {{item.fechaSalida}}
                                    </td>
                                    <td>
                                        {{item.fechaRegreso}}
                                    </td>
                                    <td>
                                        <!--button @click="mostrarDetalleEscala(item.idEscala)" v-if="item.Escala!=='Sin Escala'"><i class="fas fa-info" style="color: blue"> {{item.Escala}}</i></button-->
                                        <!--button @click="mostrarDetalleEscala(item.idEscala)" v-if="item.Escala=='Sin Escala'">Sin Escala</button-->
                                        {{item.Escala}}
                                    </td>
                                    <td>{{item.millas_distancia}}</td>
                                    <td>
                                        <button @click="editarModal(item)"><i class="fas fa-edit" style="color: blue"> Editar</i></button>
                                        <button @click="desactivarAerolinea(item)" v-if="item.estado"><i class="fas fa-toggle-on" style="color: #0000ff"> Dar de baja</i></button>
                                        <button @click="activarAerolinea(item)" v-if="!item.estado"><i class="fas fa-toggle-off" style="color: #0000ff"> Dar de alta</i></button>
                                        <button @click="asignarEscala(item)"><i class="fas fa-plane" style="color: blue"> Asignar Escala</i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary ">
                        <h5 class="modal-title text-white" v-show="!editmode">Agregar nuevo vuelo</h5>
                        <h5 class="modal-title text-white" v-show="editmode">Editar vuelo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? actualizarAerolinea() : crearAerolinea()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="avion">Escoja el avion que desee usar:</label><br>
                                    <select v-model="vuelo.airplane_id" id="avion" required>
                                        <option v-for="option in aviones" v-bind:value="option.id">
                                            {{ option.nombre_modelo }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group" >
                                    <label for="aeropuertoOrigen">Aeropuerto de origen:</label>
                                    <select v-model="vuelo.idAeropuertoOrigen" id="aeropuertoOrigen" required>
                                        <option v-for="option in aeropuertos" v-bind:value="option.id">
                                            {{ option.Aeropuerto }}
                                        </option>
                                    </select>
                                    <label for="aeropuertoDestino">Aeropuerto de Destino:</label>
                                    <select v-model="vuelo.idAeropuertoDestino" id="aeropuertoDestino" required>
                                        <option v-for="option in aeropuertos" v-bind:value="option.id">
                                            {{ option.Aeropuerto }}
                                        </option>
                                    </select>
                                    <label for="fechaSalida">Fecha de salida:</label>
                                    <div id="fechaSalida">
                                        <datetime format="YYYY-MM-DD H:i:s" width="300px"
                                                  v-model="vuelo.fechaIda">
                                        </datetime>
                                    </div>
                                    <label for="fechaLlegada">Fecha de llegada:</label>
                                    <div id="fechaLlegada">
                                        <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="vuelo.fechaRegreso"></datetime>
                                    </div>
                                    <label for="millas">Cantidad de Millas:</label><br>
                                    <input type="number" id="millas"  min="0" max="15000" maxlength="5" required v-model="vuelo.millas" placeholder="100" value="100">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Crear vuelo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="escala" tabindex="-1"  role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content"  style="width: 825px">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white">Asignar escala a vuelo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="asignarEscalaVuelo(detalle)" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group ml-3 list-group">
                                <h5 class="text-center font-weight-bold">Detalle del vuelo</h5>
                                    <div class="list-group-item" >
                                        <h6 class="d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Codigo del vuelo: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.cod_vuelo}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Avion asignado: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.Avion}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Aeropuerto de Origen: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.Origen}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Aeropuerto de destino: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.Destino}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Fecha de salida: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.fechaSalida}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold d-inline">
                                            <span class="badge badge-pill badge-info" style="font-size: medium">Fecha de llegada: </span>
                                        </h6>
                                        <h6 class="d-inline">{{detalle.fechaRegreso}}</h6>
                                    </div>
                                    <div class="list-group-item">
                                        <h6 class="font-weight-bold">
                                            <span class="badge badge-pill badge-warning" style="font-size: medium">Escoja un vuelo que desee como escala: </span>
                                        </h6>
                                        <div >
                                            <h6 class="font-weight-bold">
                                                <span class="badge badge-pill badge-info" style="font-size: medium">Escala actual: </span>
                                            </h6>
                                                <select v-model="escalaEscogida" required >
                                                    <option v-for="option in escalas" v-bind:value="option.id">
                                                        <h6 class="d-block bg-primary">V.: {{option.cod_vuelo}}</h6>
                                                        <h6 class="d-block bg-primary">O.: {{option.Origen}}</h6>
                                                        <h6 class="d-block bg-primary">D.: {{option.Destino}}</h6>
                                                        <h6 class="d-block bg-primary">S.: {{option.fechaIda}}</h6>
                                                        <h6 class="d-block bg-primary">R.: {{option.fechaRegreso}}</h6>
                                                    </option>
                                                </select>
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Asignar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datatables from 'datatables'
    import Form from 'vform'
    import datetime from 'vuejs-datetimepicker';

    window.Swal = require("sweetalert2");
    import toastr from 'toastr'
    //import axios from 'axios'
    export default {
        components: { datetime },
        data(){
            return {
                vuelos:{},
                editmode: false,
                contador: 0,
                aeropuertos:[],
                escalas:[],
                escalaEscogida: '',
                detalle:'',
                aviones:[],
                idAerolinea:'',
                identificador:'',
                selected: 'A',
                aerolinea: {
                    nombre_oficial: '',
                    pais_origen: '',
                    nombre_corto: '',
                    correo_electronico: '',
                    fecha_fundacion: '',
                    twitter: '',
                    facebook: '',
                    sitio_web: '',
                    url_imagen: '',
                    user_id:'',
                    cod_aeroline:'',
                    updated_at:'',
                    created_at:'',
                    estado:''
                },
                vuelo: {
                    id:'',
                    airline_id:'',
                    airplane_id: 'Seleccione un avion...',
                    idAeropuertoOrigen: '',
                    idAeropuertoDestino:'',
                    millas: '',
                    fechaIda: '',
                    fechaRegreso:''
                },
            }
        },
        created(){
            axios.get('/vuelos').then(res=>{
                this.vuelos = res.data.vuelos;
                this.idAerolinea=res.data.idAerolinea;
                this.aviones=res.data.aviones;
                this.vuelo.airline_id=res.data.idAerolinea;
                this.aeropuertos=res.data.aeropuertos;
                this.mytable();
            });
        },
        mounted() {
            //console.log('Component mounted.')
        },
        methods:{
            mytable(){
                $(function () {
                    $.fn.dataTable.ext.errMode = 'none';
                    $('#aerolineas').DataTable({
                        language: {
                            url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json",
                        },
                        lengthMenu: [[5, 10, 15, -1], [5, 10, 15, "Todo"]],
                    });
                });
            },
            mostrarDetalleEscala(idEscala){
              console.log('mostrando detalle de escala');
                var url='/detalleVuelo/'+idEscala;
                axios.get(url)
                    .then(respuesta=>{
                        this.detalle=respuesta.data[0];
                    })
                $('#escala').modal('show');
            },
            asignarEscalaVuelo(detalle){
                ////console.log('estamos agregando escala para el vuelo: '+detalle.cod_vuelo);
                Swal.fire({
                    title: 'Atencion',
                    text: "Esta seguro de asignar este vuelo como escala?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, asignarla!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        //console.log('asignado!');
                        var url='/asignarEscala';
                        //console.log('idVuelo: '+this.detalle.id+' idEscala: '+this.escalaEscogida);
                        axios.post(url, {
                            idVuelo:this.detalle.id,
                            idEscala: this.escalaEscogida
                        }).then(response => {
                            this.limpiar();
                            $('#escala').modal('hide');
                            axios.get('/vuelos').then(res => {
                                this.vuelos = res.data.vuelos;
                                this.mytable();
                            });
                        });

                        $('#escala').modal('hide');
                        Swal.fire(
                            'Nueva escala!',
                            'La escala ha sido asignada exitosamente!',
                            'success'
                        );
                    }
                });
            },
            obtenerImagen(e){
                let file = e.target.files[0];
                this.aerolinea.url_imagen=file;
                this.cargarImagen(file);

            },
            cargarImagen(file){
                let reader= new FileReader();
                reader.onload= (e) => {
                    this.aerolinea.url_imagen=e.target.result;
                }
                reader.readAsDataURL(file);
            },
            limpiar(){
                    this.vuelo.airplane_id= '',
                    this.vuelo.idAeropuertoOrigen='',
                    this.vuelo.idAeropuertoDestino='',
                    this.vuelo.millas='',
                    this.vuelo.fechaIda='',
                    this.vuelo.fechaRegreso=''
            },
            crearAerolinea(){
                //console.log('se ha llamado a la funcion de crear vuelos');
                var url= '/mi-aerolinea/crearVuelo';
                axios.post(url, {
                    airline_id:this.vuelo.airline_id,
                    airplane_id:this.vuelo.airplane_id,
                    idAeropuertoOrigen:this.vuelo.idAeropuertoOrigen,
                    idAeropuertoDestino:this.vuelo.idAeropuertoDestino,
                    millas:this.vuelo.millas,
                    fechaIda:this.vuelo.fechaIda,
                    fechaRegreso:this.vuelo.fechaRegreso
                }).then(response => {
                    this.limpiar();
                    this.errors = [];
                    $('#addNew').modal('hide');
                    axios.get('/vuelos').then(res=>{
                        this.vuelos = res.data.vuelos;
                        this.mytable();
                    });
                    toastr.success('Nuevo vuelo creado exitosamente');
                }).catch(error => {
                    this.errors = 'Corrija para poder crear con éxito'
                });
            },
            actualizarAerolinea(){
                //console.log('se ha llamado la opcion de editar el vuelo '+this.identificador);
                var url='/actualizarVuelo';
                //console.log(this.identificador);
                axios.post(url,{
                idVuelo: this.identificador,
                airplane_id: this.vuelo.airplane_id,
                idAeropuertoOrigen: this.vuelo.idAeropuertoOrigen,
                idAeropuertoDestino: this.vuelo.idAeropuertoDestino,
                millas: this.vuelo.millas,
                fechaIda: this.vuelo.fechaIda,
                fechaRegreso: this.vuelo.fechaRegreso
                })
                    .then(resp=>{
                        axios.get('/vuelos').then(res=>{
                            this.vuelos = res.data.vuelos;
                            this.mytable();
                        });
                        toastr.success("Vuelo actualizado con exito!");
                        $("#addNew").modal('hide');
                    })
                    .catch(error => {
                        this.errors = 'Corrija para poder desactivar con éxito'
                    });
            },

            agregarModal(){
                //console.log('se ha disparado la opcion de agregar aerolinea');
                this.editmode=false;
                this.limpiar();
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                //toastr.warning('Se hallamado a la funcion de agregar!');
                $('#addNew').modal('show');
            },
            editarModal(item){
                this.editmode=true;
                $('#addNew').modal('show');
                this.editmode = true;
                var url='/detalleVuelo/'+item.id;
                axios.get(url)
                    .then(respuesta=>{
                        this.vuelo=respuesta.data[0];
                    })
                //console.log("Se esta editando el vuelo: "+item.id);
                //console.log(item);
                this.identificador=item.id;
            },
            asignarEscala(item){
                this.editmode=true;
                $('#escala').modal('show');
                this.detalle=item;
                var url= '/escalas/'+this.detalle.id+'/'+this.idAerolinea;
                //console.log('url: '+url);
                axios.get(url)
                    .then(respuesta=>{
                        this.escalas=respuesta.data;
                    });
            },
            desactivarAerolinea(item){
                //console.log("se ha disparado la opcion de desactivar vuelo:" +item.id);
                Swal.fire({
                    title: 'Atencion',
                    text: "Esta seguro de querer dar de este vuelo?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, dar de baja!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        var url='/vuelo/'+item.id+'/'+0;
                        //console.log(item.estado);
                        axios.get(url)
                            .then(resp=>{
                                axios.get('/vuelos').then(res=>{
                                    this.vuelos = res.data.vuelos;
                                    this.mytable();
                                });
                            })
                            .catch(error => {
                                this.errors = 'Corrija para poder desactivar con éxito'
                            });
                        Swal.fire(
                            'Dada de Baja!',
                            'El vuelo ha sido dado de baja',
                            'success'
                        )
                    }
                });
            },

            activarAerolinea(item){
                //console.log("se ha disparado la opcion de activar el vuelo:" +item.id);
                Swal.fire({
                    title: 'Atencion',
                    text: "Esta seguro de querer dar de de alta este vuelo?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, dar de alta!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        var url='/vuelo/'+item.id+'/'+1;
                        //console.log(item.estado);
                        axios.get(url)
                            .then(resp=>{
                                axios.get('/vuelos').then(res=>{
                                    this.vuelos = res.data.vuelos;
                                    this.mytable();
                                });
                                //toastr.success("Aerolinea Activada");
                            })
                            .catch(error => {
                                this.errors = 'Corrija para poder desactivar con éxito'
                            });
                        Swal.fire(
                            'Dada de alta!',
                            'El vuelo ha sido dado de alta',
                            'success'
                        )
                    }
                });
            }
        },
        computed:{
            imagen(){
                return this.aerolinea.url_imagen;
            },
            detalleEscalaSeleccionada: function(item){
                if (this.escalas !== null && item !==null){
                    return this.escalas[item].cod_vuelo;
                }
            }
        }
    }
</script>
